{% extends 'base.html' %}

{% block body%}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Parva Chaudhari</td>
      <td><a href="#" class="alert-link">parvachaudhry@gmail.com</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Vismay</td>
      <td><a href="#" class="alert-link">vismaymodi3@gmail.com</a></td>
    </tr>

  </tbody>
</table>
{% endblock body%}